.bug-filter {
    background-color: var(--gray2);
    padding: 1em;
}

.bug-filter h2 {
    margin-bottom: .5em;
}

.sort-by {
    display: flex;
    gap: 3em;
}

.sort-field, .sort-dir {
    margin-block: .6em;
}
